---
import Section from "../Section.astro";
import HTML from "@/icons/html.astro";
import CSS from "@/icons/css.astro";
import JavaScript from "@/icons/javascript.astro";
import TypeScript from "@/icons/type.astro";
import React from "@/icons/react.astro";
import Node from "@/icons/node.astro";
import MySQL from "@/icons/sql.astro";
import Git from "@/icons/git.astro";
import GitHub from "@/icons/GitHub.astro";
import Tailwind from "@/icons/tailwind.astro";
import Next from "@/icons/next.astro";
import Python from "@/icons/python.astro";
import Redis from "@/icons/redis.astro";
import MongoDB from "@/icons/mongodb.astro";
import Docker from "@/icons/docker.astro";
import { skills } from "@cv";

const SKILLS_ICONS: Record<string, any> = {
  HTML,
  CSS,
  JavaScript,
  TypeScript,
  React,
  Node,
  MySQL,
  Git,
  GitHub,
  Next,
  Tailwind,
  Redis,
  Python,
  MongoDB,
  Docker
};
---

{
  skills.length > 0 && (
    <Section title="Habilidades">
      <ul>
        {skills.map(({ name, keywords, level }) => {
          const iconName = name === "Next.js" ? "Next" : name;
          const Icon = SKILLS_ICONS[iconName];

          return (
            <li>
              <div class="wrapper_main">
                <div class="wrapper_name">
                  {Icon && <Icon />}
                  <span>{name}</span>
                </div>
                {level === "" && <span>{level}</span>}
                {keywords && <p class="keywords no-print">{keywords.join(", ")}</p>}
              </div>
            </li>
          );
        })}
      </ul>
    </Section>
  )
}

<style>
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    flex-wrap: wrap;
  }

  li {
    border-radius: 6px;
    display: flex;
    font-size: 0.8rem;
    font-weight: 500;
    gap: 4px;
    padding: 0.2rem 0.6rem;
    border: 1px solid #444;
  }

  p{
    text-wrap: pretty;
    text-align: center;
    color: #9e9e9e;
  }

  .wrapper_main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 5px;
  }

  .wrapper_name{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

  .keywords{
    color: #666;
    width: 128px;
  }

  @media print {
    .wrapper_main{
      padding: 0;
    }

    li {
    gap: 0;
    padding: 0;
    border: none;
  }
  }
</style>
